<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Edit Variant</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/formStyles.css}" type="text/css" rel="stylesheet">
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
  .sideBar {
position: fixed;
top: 70px;
right: 0;
background-color: #d9d9d9;
height: fit-content;
width: 100vw;
padding: 10px 10px;
z-index: 2;
}


.sideBarContent a {
color: #b43e8f;
text-decoration: none;
}

.sideBarContent {
margin-right : 10px;
list-style-type: none;
}
  </style>
</head>
<body class="container-fluid">
<div th:replace="~{fragment::navBarAdmin}"></div>
<div class="row" th:style="'height: 70px;'"></div>
<nav class="sideBar position-fixed d-flex justify-content-around align-items-center">
    <ul class="d-flex flex-row justify-content-between align-items-center">

        <li class="sideBarContent">
            <a th:href="@{/admin/order}"><h4>ORDERS</h4></a>

        </li>
        <div class="sideBarContent">
            <a th:href="@{/admin/products/}"><h4>PRODUCTS</h4></a>

        </div>
        <li class="sideBarContent">
            <a th:href="@{/admin/customers}"><h4>CUSTOMERS</h4></a>

        </li>
        <li class="sideBarContent">
            <a th:href="@{/admin/coupon}"><h4>COUPONS</h4></a>

        </li>
        <li class="sideBarContent">
            <a th:href="@{/admin/category/}"><h4>CATEGORIES</h4></a>

        </li>
        <li class="sideBarContent">
            <a th:href="@{/admin/brand/}"><h4>BRANDS</h4></a>

        </li>
        <li th:if="${#authorization.expression('isAuthenticated()')}" class="logoutBtn d-flex justify-content-center align-items-center">
            <form th:action="@{/logout}" method="post">
                <button type="submit" style="border: none; padding: 0; background-color: #d9d9d9; color: red"><h4>LOG OUT</h4></button>
            </form>
        </li>
    </ul>
</nav>
<div class="row formMain" style="height: calc(100vh - 0px); margin-top: 70px; width: 100vw">
    <div class="col-sm-8 col-md-5 col-lg-4 col-xl-4 formBox">

        <div class="d-flex justify-content-center">
            <h1 class="">Edit Variant</h1>
        </div>

        <div class="w-100 d-flex justify-content-center align-items-center formPart">
    <form th:action="@{/admin/products/edit-variable/{id}(id=${variable.variableId})}" method="post" enctype="multipart/form-data" th:object="${variable}">
        <div class="form-group">
            <label for="frameColor"> Frame Colour
            </label>
            <input type="text" class="form-control" th:value="${variable.frameColor}" id="frameColor" th:field="*{frameColor}"></input>
        </div>
        <div style="height: 150px; width: 150px">
            <img th:src="@{${'/productImages/'+variable.product.productId+'/'+variable.image1}}" style="height: 100%; width: 100%">
        </div>
        <div class="form-group">

            <label for="image1"> Choose File if you want to change Image 1</label>
            <input id="image1" class="form-control" type="file" name="variable.image1" multiple>

        </div>
        <div style="height: 150px; width: 150px">
            <img th:src="@{${'/productImages/'+variable.product.productId+'/'+variable.image2}}" style="height: 100%; width: 100%">
        </div>
        <div class="form-group">

            <label for="image2"> Choose File if you want to change Image 2</label>
            <input id="image2" class="form-control" type="file" name="variable.image2">

        </div>
        <div style="height: 150px; width: 150px">
            <img th:src="@{${'/productImages/'+variable.product.productId+'/'+variable.image3}}" style="height: 100%; width: 100%">
        </div>
        <div class="form-group">

            <label for="image3"> Choose File if you want to change Image 2</label>
            <input id="image3" class="form-control" type="file" name="variable.image3">

        </div>
        <div class="form-group">

            <label for="quantity">Quantity</label>
            <input id="quantity" class="form-control" th:value="${variable.quantity}" th:field="*{quantity}">

        </div>

        <div>
            <button type="submit" class="btn btn-info">Save</button>
        </div>


    </form>
   </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>