<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<form class="d-flex flex-column justify-content-center align-items-start" th:object="${usertoupdate}" method="post" th:action="@{/admin/customers/update/{id}(id=${usertoupdate.id})}">


    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" th:value="*{firstName}"
               th:field="*{firstName}">
    </div>
    <div class="form-group ">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" th:value="*{lastName}"
               th:field="*{lastName}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp" th:value="*{emailId}" th:field="*{emailId}">
    </div>
    <div class="form-group">
        <label for="userrole">Role Setting</label>
        <select id="userrole" th:field="*{role}">
            <option th:value="*{role}" th:text="*{role}"></option>
            <th:block th:each="roleOb : ${roles}">

                <option th:unless="*{role} == ${roleOb}" th:value="${roleOb}" th:text="${roleOb}"></option>

            </th:block>
        </select>
    </div>
    <div class="form-group">
        <label for="userstatus">User status</label>
        <select id="userstatus" th:field="*{userStatus}">
            <option th:value="*{userStatus}" th:text="*{userStatus}"></option>
            <th:block th:each="status : ${statuses}">

                <option th:unless="*{userStatus} == ${status}" th:value="${status}" th:text="${status}"></option>

            </th:block>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>


</form>



</body>
</html>