<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{css/signupstyles.css}" rel="stylesheet" type="text/css">
</head>
<body class="container-fluid">
<nav class="row navDiv">
    <div class="row container h-auto navBox">
        <div class="col-3 col-sm-4 col-md-4 col-lg-3 col-xl-2 navLogo d-flex align-items-center">
            <img th:src="@{/images/Mainlogo.png}" class="w-100 h-auto">
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">

            <a class="btn navBtn" th:href="@{/register}">SIGN UP</a>

        </div>
    </div>
</nav>

<div class="row formMain d-flex justify-content-center align-items-center" style="height: calc(100vh-70px)">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"  style="width: fit-content">
        <img src="https://static.vecteezy.com/system/resources/previews/029/726/216/original/3d-purple-illustration-icon-of-using-smartphone-for-sign-up-or-login-to-profile-account-with-security-padlock-side-free-png.png" style="height: 200px; width: auto">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex justify-content-start" style="height: 200px; width: fit-content">
        <span th:if="${param.userBlocked}"  class="text-danger">This User is Blocked</span>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="emailId">Email Id</label>
                <input type="text" class="form-control" id="emailId" placeholder="Enter Your Email Id" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter Your Password" name="password" required>
            </div>
            <button type="submit" class="btn submitBtn">Submit</button>

        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>