<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenscraft - Admin Order Item View</title>
    <link th:rel="stylesheet" th:href="@{/css/product-list.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navDiv {
    background-color: #b43e8f;
}

.navBox {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #b43e8f;
    height: 80px;
    position: fixed;
}

.navBtn {
    background-color: #fff;
    border-radius: 5px;
    color: #b43e8f;
}

.navBtn:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #b43e8f;
}

.navlogo {
    height: auto;
    width: 100%;
}

    </style>
</head>
<body>
<div th:replace="~{fragment::admin-navbar}" >

</div>
<div class="row container-fluid d-flex  justify-content-center " style=" margin-top: 70px; max-width: 100vw; max-height: 100vh">

    <div class="col-6 border border-info rounded container-fluid p-2 row">
        <div class="col-12 container-fluid row d-flex justify-content-center">
            <div class="col-6">
                <img
                        th:src="@{${'/productImages/'+item.product.productId+'/'+item.variable.image1}}"
                        class="img-fluid rounded-3" alt="Product Image">
            </div>
        </div>
        <div class="col-6 container-fluid row d-flex justify-content-center">
            <div class="col-9 mt-3">
                <ul class="list-unstyled">
                    <li class="pl-2">
                        <p th:text="${item.product.brand.brandName}" style="color: #40A2E3"></p>
                    </li>
                    <li class=pl-2>
                        <p th:text="${item.product.productName}" style="color: black"></p>
                    </li>

                    <li class="mt-1 pl-2">
                        <p th:text="${'Size : '+item.product.frameSize.name()}" class="text-muted"></p>
                    </li>
                    <li class="mt-1 pl-2">
                        <p th:text="${'Quantity : '+item.quantity}" class="text-muted"></p>
                    </li>
                    <li class="d-flex justify-content-start  mt-1 pl-2">
                        <p>Color : </p>
                        <div  th:style="| height: 20px; width: 20px; background-color: ${item.variable.frameColor}">

                        </div>
                    </li>
                    <li class="d-flex justify-content-start  mt-1 pl-2">
                        <p >Current Status : </p>
                        <p class="text-warning" th:text="${item.currentStatus.name()}" >

                        </p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-6 border rounded container-fluid d-flex justify-content-center">
        <ul class="row list-unstyled" th:if="${item.currentStatus.name() == 'PENDING'}">
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="SHIPPED">
                    <button type="submit" class="btn btn-info">SHIPPED</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="OUT_FOR_DELIVERY">
                    <button type="submit" class="btn btn-warning">OUT_FOR_DELIVERY</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="DELIVERED">
                    <button type="submit" class="btn btn-success">DELIVERED</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="REJECTED">
                    <button type="submit" class="btn btn-danger">REJECTED</button>

                </form>

            </li>

        </ul>
        <ul class="row list-unstyled" th:if="${item.currentStatus.name() == 'SHIPPED'}">

            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="OUT_FOR_DELIVERY">
                    <button type="submit" class="btn btn-warning">OUT_FOR_DELIVERY</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="DELIVERED">
                    <button type="submit" class="btn btn-success">DELIVERED</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="REJECTED">
                    <button type="submit" class="btn btn-danger">REJECTED</button>

                </form>

            </li>

        </ul>
        <ul class="row list-unstyled" th:if="${item.currentStatus.name() == 'OUT_FOR_DELIVERY'}">

            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="DELIVERED">
                    <button type="submit" class="btn btn-success">DELIVERED</button>

                </form>

            </li>
            <li class="col-12 mb-1">
                <form th:action="@{/admin/order/items/item/status-change/{orderItemId}(orderItemId=${item.orderItemId})}" method="get">
                    <input type="hidden" name="status" value="REJECTED">
                    <button type="submit" class="btn btn-danger">REJECTED</button>

                </form>

            </li>

        </ul>
        <ul class="row list-unstyled" th:if="${item.currentStatus.name() == 'DELIVERED'}">

            <li class="col-12 mb-1">
                <h4>The item has been Delivered</h4>
            </li>
        </ul>
        <ul class="row list-unstyled" th:if="${item.currentStatus.name() == 'REJECTED'}">

            <li class="col-12 mb-1">
                <h4>The item has been Rejected</h4>
            </li>
        </ul>

    </div>
</div>
</body>
</html>