<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Lenscraft-Change Address</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    * a{
    text-decoration: none;
    }
    </style>
</head>
<body class="container-fluid">
<div th:replace="~{fragment::navBarHome}"></div>
<div class="row d-flex flex-column justify-content-center align-items-center" style="margin-top: 70px">
<form th:action="@{/user/buy/address/change}" method="post">
    <div th:each="address : ${addresses}">

        <div class="form-check">
            <input type="radio" th:id="${address.addressId}" name="addressId" th:value="${address.addressId}" class="form-check-input">
            <label class="form-check-label" th:for="${address.addressId}">  <div>
                <h5 th:text="${address.buyerName}">
                </h5>
                <br>
                <h5 th:text="${'Address : '+address.houseAddress}"></h5>
                <span th:text="${address.district+','+address.state}"></span>
                <br>
                <h5 th:text="${'Pincode :'+address.pincode}"></h5>
                <h5 th:text="${'Mobile Number : '+address.mobileNumber}"></h5>
            </div></label>
        </div>
        <input type="hidden" name="username" th:value="${username}">
    </div>
    <div>
        <button type="submit" class="btn" style="border: none; border-radius: 10px; background-color: #b43e8f">SUBMIT</button>
    </div>
</form>
    <div>
        <form th:action="@{/user/address/add}" method="get" >
            <input type="hidden" name="fromChange" value="yes">
            <button type="submit" class="btn" style="border: none; border-radius: 10px; background-color: #b43e8f">ADD ADDRESS</button>
        </form>
    </div>


</div>
</body>
</html>